{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'course_selection/base.css' %}">

<head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
<body>
    <div id="main_body">
        <div class="top">
            <span><a href="{% url 'index' %}"><img src="{% static 'course_selection/images/return.jpg' %}" ></a></span>
            <p>{{ title }}</p>
        </div>
        <table border="2" cellspacing="5" width="700">
        {% block content %}

        {% endblock %}
        </table>
    </div>
</body>