{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'course_selection/login.css' %}">

<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
 
<body>
    <div id="index_logo"></div>
    <div id = "login">
        <form method="post" action="{% url 'login' %}">
            学号：<input type="text" name = "stuid"><br>
            密码：<input type="password" name = "password"><br>
            <a href="#">忘记密码？</a>
            <input class='btn' type="submit" value="登录">
        </form>
    </div>
</body>
</html>