{% extends "base.html" %}


{% block content %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
    {% include "base_view.html" %}
{% endblock %}